:root {
    --scrollbar-width: 17px;
}

.type-area,
.type-area-vga,  /* 640x480 */
.type-area-svga, /* 800x600 */
.type-area-xga,  /* 1024x768 */
.type-area-hd,   /* 1280x720 */
.type-area-fhd,  /* 1920x1080 */
.type-area-qhd,  /* 2560x1440 */
.type-area-4k {  /* 3840x2160 */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* 640x480 */
/* @media (min-width: calc(640px - var(--scrollbar-width))) { */
@media (min-width: 623px) {
    .type-area,
    .type-area-vga,
    .type-area-svga,
    .type-area-xga,
    .type-area-hd,
    .type-area-fhd,
    .type-area-4k {
        max-width: calc(640px - var(--scrollbar-width));
    }
}

/* 800x600 */
/* @media (min-width: calc(800px - var(--scrollbar-width))) { */
@media (min-width: 783px) {
    .type-area,
    .type-area-svga,
    .type-area-xga,
    .type-area-hd,
    .type-area-fhd,
    .type-area-4k {
        max-width: calc(800px - var(--scrollbar-width));
    }
}

/* 1024x768 */
/* @media (min-width: calc(1024px - var(--scrollbar-width))) { */
@media (min-width: 1007px) {
    .type-area,
    .type-area-xga,
    .type-area-hd,
    .type-area-fhd,
    .type-area-4k {
        max-width: calc(1024px - var(--scrollbar-width));
    }
}

/* 1280x720 */
/* @media (min-width: calc(1280px - var(--scrollbar-width))) { */
@media (min-width: 1263px) {
    .type-area,
    .type-area-hd,
    .type-area-fhd,
    .type-area-4k {
        max-width: calc(1280px - var(--scrollbar-width));
    }
}

/* 1920x1080 */
/* @media (min-width: calc(1920px - var(--scrollbar-width))) { */
@media (min-width: 1903px) {
    .type-area,
    .type-area-fhd,
    .type-area-qhd,
    .type-area-4k {
        max-width: calc(1920px - var(--scrollbar-width));
    }
}

/* 2560x1440 */
/* @media (min-width: calc(2560px - var(--scrollbar-width))) { */
@media (min-width: 2543px) {
    .type-area,
    .type-area-qhd,
    .type-area-4k {
        max-width: calc(2560px - var(--scrollbar-width));
    }
}

/* 3840x2160 */
/* @media (min-width: calc(3840px - var(--scrollbar-width))) { */
@media (min-width: 3823px) {
    .type-area,
    .type-area-4k,
    .type-area-8k {
        max-width: calc(3840px - var(--scrollbar-width));
    }
}

